@font-face {
  font-family: "Inter-600";
  src: url("@/assets/fonts/Inter_18pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto-300";
  src: url("@/assets/fonts/NotoSansDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto-400";
  src: url("@/assets/fonts/NotoSansDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto-500";
  src: url("@/assets/fonts/NotoSansDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto-600";
  src: url("@/assets/fonts/NotoSansDisplay-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto-800";
  src: url("@/assets/fonts/NotoSansDisplay-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("@/assets/fonts/Ubuntu-Regular.ttf") format("truetype");
  /* font-weight: 400; */
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family-300: "Noto-300", sans-serif;
  --font-family-400: "Noto-400", sans-serif;
  --font-family-500: "Noto-500", sans-serif;
  --font-family-600: "Noto-600", sans-serif;
  --font-family-800: "Noto-800", sans-serif;
  --Ubuntu: "Ubuntu", sans-serif;

  --notification-color: #f23f42;
  --system-green-color: #248046;
  --system-purple-color: #5865f2;
  --link-color: #00aff4;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* transition: 0.3s all; */
}

.flex {
  display: flex;

  &.column {
    flex-direction: column;
  }

  &.row {
    flex-direction: row;
  }
}

.radial {
  border-radius: 50px;
}

ul {
  list-style: none;
}

input,
button {
  border: none;
  border-radius: 3px;
}

input {
  outline: none;
  padding: 0 8px;
  background-color: var(--system-back-color5);
  font-family: var(--font-family-500);
  font-size: 14px;
  letter-spacing: -0.01em;

  &::placeholder {
    color: var(--muted-text-color);
  }
}

button.text {
  cursor: pointer;
  background-color: var(--system-back-color5);
  font-family: var(--font-family-500);
  font-size: 13px;
  letter-spacing: -0.01em;
  background-color: var(--button-back-color);

  &:hover {
    background-color: #575a63;
  }
}

a {
  text-decoration: none;
  color: var(--link-color);
}

.button-purple {
  background-color: var(--system-purple-color);
  color: #fff;
  text-align: center;

  &:hover {
    opacity: 0.7;
  }
}

.divider {
  display: block;
  background-color: #2d2f32;
  border-radius: 1px;

  &.h-divider {
    // горизонтальный разделитель
    width: 67%;
    height: 1px;
    /* margin-block: 15px; */
    margin-inline: auto;

    &.sidebar-divider {
      background-color: var(--system-back-color1);
      width: 90%;
    }
  }

  &.v-divider {
    width: 1px;
    margin-block: auto;

    &.header-divider {
      height: 24px;
      background-color: var(--system-back-color1);
    }
  }
}

.activity {
  /*Активность в диалогах и серверах */
  background-repeat: no-repeat;
  background-position: center center;
  aspect-ratio: 1 / 1;
  height: 16px;
  position: absolute;
  right: 0;
  top: 0;
  background-size: 10px;
  background-color: #4f545c;
  outline: 3px solid var(--system-back-color5);

  &.my_activity {
    background-color: #43A25A;
  }

  &.camera {
    background-image: url(@/assets/img/NavVideo.svg);
  }

  &.display {
    background-image: url(@/assets/img/NavStream.svg);
  }

  &.call {
    background-image: url(@/assets/img/NavCall.svg);
  }
}

.server_users_activity {
  background-color: #00aff4;
}

.mentions {
  color: white;
  font-family: var(--font-family-600);
  font-size: 13px;
  line-height: 109%;
  letter-spacing: -0.01em;
  background-color: var(--notification-color);
  height: 16px;
  width: fit-content;
  padding: 0px 5px;
  outline: 3px solid var(--system-back-color5);
  display: flex;
  align-items: center;
}

.status {
  height: 12px;
  width: 12px;
  background-repeat: no-repeat;
  background-position: center center;
  right: 0;
  position: absolute;
  bottom: 0;
  background-color: var(--system-back-color3);
  outline: 2px solid var(--system-back-color3);
  z-index: 10;

  &.moon {
    background-image: url(@/assets/img/svg/status/moon.svg);
  }

  &.phone {
    background-image: url(@/assets/img/svg/status/phone.svg);
    height: 15px !important;
    border-radius: 1px !important;
  }

  &.red {
    background-image: url(@/assets/img/svg/status/red.svg);
  }

  &.streaming {
    background-image: url(@/assets/img/svg/status/streaming.svg);
  }

  &.offline {
    background-image: url(@/assets/img/svg/status/offline.svg);
  }

  &.online {
    background-color: #3BA55D !important;
    outline-width: 3px !important;
  }
}

.content-header {
  height: 50px;
  border-bottom: 1px solid var(--system-back-color5);

  span {
    font-family: var(--font-family-500);
    font-size: 16px;
    color: var(--main-text-color);
    padding-inline: 32px;
  }
}

[data-theme="dark"] {
  --system-back-color5: #1e1f22;
  --system-back-color4: #292b2f;
  --system-back-color3: #2f3136;
  --system-back-color2: #36393f;
  --system-back-color1: #40444b;
  --loud-text-color: #f2f3f5;
  --main-text-color: #dbdee1;
  --muted-text-color: #949ba4;
  --icon-color: #80848e;
  --button-back-color: #4e5058;

  input {
    color: var(--main-text-color);
  }

  body {
    background-color: var(--system-back-color5);

  }
}

[data-theme="light"] {
  --system-back-color5: #e3e5e8;
  --system-back-color4: #ebedef;
  --system-back-color3: #f2f3f5;
  --system-back-color2: #fff;
  --system-back-color1: var(--system-back-color5);
  --loud-text-color: #060607;
  --main-text-color: #5E6772;
  --muted-text-color: #949ba4;
  --icon-color: #80848e;
  --button-back-color: #4e5058;

  body {
    background-color: #fff;
  }
}