@font-face {
  font-family: "Inter-600";
  src: url("@/assets/fonts/Inter_18pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto-300";
  src: url("@/assets/fonts/NotoSansDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto-400";
  src: url("@/assets/fonts/NotoSansDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto-500";
  src: url("@/assets/fonts/NotoSansDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto-600";
  src: url("@/assets/fonts/NotoSansDisplay-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto-800";
  src: url("@/assets/fonts/NotoSansDisplay-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("@/assets/fonts/Ubuntu-Regular.ttf") format("truetype");
  /* font-weight: 400; */
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family-300: "Noto-300", sans-serif;
  --font-family-400: "Noto-400", sans-serif;
  --font-family-500: "Noto-500", sans-serif;
  --font-family-600: "Noto-600", sans-serif;
  --font-family-800: "Noto-800", sans-serif;
  --Ubuntu: "Ubuntu", sans-serif;

  --notification-color: #f23f42;
  --system-green-color: #248046;
  --system-purple-color: #5865f2;
  --link-color: #00aff4;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.3s all;
}

input,
button {
  border: none;
  border-radius: 3px;
}

input {
  outline: none;
  padding: 0 8px;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--link-color);

}

.button-purple {
  background-color: var(--system-purple-color);
  color: #fff;
  text-align: center;

  &:hover {
    opacity: 0.7;
  }
}

.divider {
  display: block;
  background-color: #2d2f32;
  border-radius: 1px;

  &.h-divider {
    width: 67%;
    height: 1px;
    margin-block: 15px;
    margin-inline: auto;
  }
}

.tooltip {
  color: var(--loud-text-color);
  font-family: var(--font-family-500);
  --color: var(--system-back-color5);
  background: var(--color);
  padding: 10px;
  display: block;
  width: max-content;
  max-width: 300px;
  position: absolute;
  border-radius: 10px;

  &::after {
    content: '';
    position: absolute;
    border: 7px solid transparent;
  }

  &.bottom {
    top: 113%;

    &::after {
      top: -14px;
      left: 50%;
      translate: -50% 0;
      border-bottom-color: var(--color);
    }
  }

  &.right {
    left: 136%;

    &::after {
      left: -14px;
      top: 50%;
      translate: 0 -50%;
      border-right-color: var(--color);
    }
  }
}

[data-theme="dark"] {
  --system-back-color5: #1e1f22;
  --system-back-color4: #292b2f;
  --system-back-color3: #2f3136;
  --system-back-color2: #36393f;
  --system-back-color1: #40444b;
  --loud-text-color: #f2f3f5;
  --main-text-color: #dbdee1;
  --muted-text-color: #949ba4;
  --icon-color: #80848e;
  --button-back-color: #4e5058;

  input {
    color: var(--main-text-color);
  }

  body {
    background-color: var(--system-back-color5);

  }
}

[data-theme="light"] {
  --system-back-color5: #e3e5e8;
  --system-back-color4: #ebedef;
  --system-back-color3: #f2f3f5;
  --system-back-color2: #fff;
  --system-back-color1: var(--system-back-color5);
  --loud-text-color: #060607;
  --main-text-color: #5E6772;
  --muted-text-color: #949ba4;
  --icon-color: #80848e;
  --button-back-color: #4e5058;

  body {
    background-color: #fff;
  }
}